.App{
  background-color: #fff;
  height: 100%;
  width: 100%;
}
section h2{
  color: #014b01;
  font-weight: 800;
  font-size: 50px;
}

section h3{
  color: #014b01;
  font-weight: 600;
  font-size: 40px;
}
#homepage p{
  color: #012501;
  font-size: 35px;
  font-weight: 500;
}
section .btn{
  background: transparent;
  border-radius: 30px;
  color: #012501;
}
